- if user_signed_in?

  %h1 Friends List

  %ul.nav
    - if @user_info[:forward_friendships].present? || @user_info[:inverse_friendships].present?
      - @user_info[:forward_friendships].each do |friendship|
        %li
          = link_to friendship.friend.email, friendship.friend
      - @user_info[:inverse_friendships].each do |inverse_friendship|
        %li
          = link_to inverse_friendship.user.email, inverse_friendship.user
    - else
      %div
        No friends
    %br
      = link_to 'Find friends', {:controller => 'users', :action => 'search', :method => :get}, :class => 'btn btn-primary span2'
    %br
      = link_to 'View My Audio Files', current_user, :method => :get, :class => 'btn btn-primary span2'



