=javascript_include_tag :jquery
=javascript_include_tag :faye
%ul.nav
  = link_to 'Return to friends list', users_path, :class => 'btn btn-primary span3'
  .alerts
    .alert.fade.alert-success
      %button.close
        ×

  %h1 Listing audio files
  %div.file-list
    = render 'audio_list', :files => @files, :user => @user

:javascript
  $(function() {
      var faye = new Faye.Client('http://127.0.0.1:9292/faye');
      faye.subscribe("/files/new", function(data) {
          var message_arr = JSON.parse(data);
          for(var index = 0; index<message_arr.length; index++){
            message = message_arr[index];
            $(".file-list ul").prepend("<li><a href='/users/files/"+message.id+"/save'>"+message.name+message.format+"</li>");
            $(".alerts .alert").text("New file was uploaded").addClass("in");
            setTimeout(function(){
              $(".alerts .alert").removeClass("in");
            }, 2000)
          }
      });
  });
