%ul.nav
  %li
    = link_to 'Return to friends list', users_path
  %h1 Listing audio files
  %div.user-list
    = render 'audio_list', :files => @files, :user => @user

%script{:type => 'text/javascript'}
  :plain
    function getFiles() {
      jQuery.ajax({
          url: "/user-files/#{@user.id}/get",
          type: "get",
          dataType: "json",
          success: function(data){
            if(data.result == "OK"){
              jQuery("div.user-list").html(data.content)
              setTimeout(getFiles, 10000);
            }
          }
      });
    };

    setTimeout(getFiles, 10000);

